<div class="vh-100 vw-100 gradient-custom">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card" style="border-radius: 2rem;">
          <!-- <div class="card-body px-5 text-center col d-flex flex-column justify-content-evenly"> -->
          <div class="card-body px-5 text-center">
            <router-outlet></router-outlet>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>