<!-- Title -->
<h1 class="my-4 fs-2">INICIAR SESIÓN</h1>

<!-- Form -->
<form [formGroup]="loginForm" (ngSubmit)="login()" autocomplete="off">
  <!-- Ultimatix -->
  <div class="mb-3">
    <input id="ultimatixLogin" formControlName="ultimatix" type="text"
      class="form-control rounded-pill shadow-sm border-0 custom-input" placeholder="Ultimatix"
      (keypress)="keyPressNumbers($event)" />
    <div class="form-text text-danger float-start"
      *ngIf="(ultimatix?.invalid && ultimatix?.touched) || ultimatix?.dirty">
      <span *ngIf="ultimatix?.errors?.['required']">
        Ingresa tu número de Ultimatix.
      </span>
      <span *ngIf="ultimatix?.errors?.['pattern']">
        Ingresa un número de Ultimatix válido.
      </span>
    </div>
  </div>

  <!-- Password -->
  <div class="">
    <div class="input-group">
      <input id="passwordLogin" formControlName="password" [type]="showPwd ? 'text' : 'password'"
        class="form-control pwd-input border-0" placeholder="Contraseña" />
      <div class="input-group-text pwd-eye border-0" (click)="showPwd = !showPwd" (touchstart)="showPwd = !showPwd">
        <mat-icon style="cursor: pointer;">remove_red_eye</mat-icon>
      </div>
    </div>
    <span class="form-text text-danger float-start" *ngIf="valid_field('password')">
      Ingresa tu contraseña.
    </span>
  </div>

  <div class="mb-3 float-end">
    <a (click)="toRecover()" class="custom-link">¿Olvidaste tu contraseña?</a>
  </div>

  <!-- Login -->
  <div class="col-12 col-sm-6 mx-auto mb-4">
    <app-button id="btnLogin" type="submit" buttonName="Inicia sesión" class="w-100"></app-button>
  </div>

  <!-- Register -->
  <span>
    ¿No tienes una cuenta?
    <a [routerLink]="['/auth/register']" class="custom-link">
      <strong>Regístrate</strong>
    </a>
  </span>
</form>