<div class="container">
  <app-header id="profileTitle" title="PERFIL DE USUARIO"></app-header>

  <!-- User info -->
  <div class="card custom-card mb-3">
    <div class="card-body">
      <h5 class="card-title fs-3 mb-3" style="color: var(--tcs-pink);">Información de usuario</h5>
      <div class="row">
        <!-- User photo -->
        <div class="col-12 col-sm-3 my-auto text-center">
          <mat-icon class="customIconSize">person</mat-icon>
          <h1 id="full-name" class="text-center mt-2 mb-0">{{profile?.nombres_completos}}</h1>
        </div>

        <!-- User info -->
        <div class="col-12 col-sm-9 pt-3">
          <div class="row">
            <span class="col-sm-3 mb-0 fw-bold">Ultimatix:</span>
            <div id="ultimatix-profile" class="col-sm-9 text-secondary">{{currentUser.id_numero_Ultimatix}}</div>
          </div>
          <hr>
          <div class="row">
            <span class="col-sm-3 mb-0 fw-bold">Rol:</span>
            <div id="rol-profile" class="col-sm-9 text-secondary">{{profile?.rol === 'admin' ? 'Administrador' :
              'Usuario'}}</div>
          </div>
          <hr>
          <div class="row">
            <span class="col-sm-3 mb-0 fw-bold">Correo electrónico:</span>
            <div id="email-profile" class="col-sm-9 text-secondary">{{currentUser.correo}}</div>
          </div>
          <hr>
          <div class="row">
            <span class="col-sm-3 mb-0 fw-bold">Teléfono:</span>
            <div id="phone-profile" class="col-sm-9 text-secondary">{{currentUser.telefono}}</div>
          </div>
          <hr>
          <div class="row">
            <span class="col-sm-3 mb-0 fw-bold">Usuario de red:</span>
            <div id="user-profile" class="col-sm-9 text-secondary">{{profile?.usuario_red}}</div>
          </div>
          <hr>
          <div class="row">
            <span class="col-sm-3 mb-0 fw-bold">Total de asignación (%):</span>
            <div id="asignation-profile" class="col-sm-9"
              [ngStyle]="{color: profile?.asignacion_usuario! > 100 ? 'red' : 'green'}">
              {{profile?.asignacion_usuario}}
            </div>
          </div>
          <hr>
        </div>
      </div>
      <div class="col-12 col-sm-2 float-end">
        <app-button id="edit-user-profile" buttonName="Editar" [buttonIcon]="true" iconName="edit"
          (btnClick)="openUserInfo()">
        </app-button>
      </div>
    </div>
  </div>

  <!-- About me -->
  <div class="card custom-card mb-3 pt-3">
    <div class="card-body">
      <h5 class="card-title fs-3 mb-3" style="color: var(--tcs-pink);">Sobre mí</h5>
      <p class="card-text">{{profile?.sobreMi}}</p>
      <app-button id="edit-about" buttonName="Editar" [buttonIcon]="true" iconName="edit"
        class="col-12 col-sm-2 float-end" (btnClick)="openAboutMe()">
      </app-button>
    </div>
  </div>

  <!-- Skills -->
  <div class="card custom-card py-3 my-3">
    <div class="card-body">
      <h5 class="card-title fs-3 mb-3" style="color: var(--tcs-pink);">Habilidades técnicas</h5>
      <ul class="list-group list-group-flush mb-3">
        <div class="row">
          <div class="col-6 col-sm-4">
            <li class="list-group-item" *ngFor="let skill of profile?.habilidades">{{skill}}</li>
          </div>
          <div class="col-6 col-sm-8">
            <li class="list-group-item" *ngFor="let level of profile?.nivel_habilidad">{{level}}</li>
          </div>
        </div>
      </ul>
      <app-button id="edit-tech-skills" buttonName="Editar" [buttonIcon]="true" iconName="edit"
        class="col-12 col-sm-2 float-end" (btnClick)="openTechSkills()">
      </app-button>
    </div>
  </div>

  <div class="card custom-card py-3 my-3">
    <div class="card-body">
      <h5 class="card-title fs-3 mb-3" style="color: var(--tcs-pink);">Habilidades funcionales</h5>
      <ul class="list-group list-group-flush mb-3">
        <div class="row">
          <div class="col-6 col-sm-4">
            <li class="list-group-item" *ngFor="let skill of profile?.habilidades_funcionales">{{skill}}</li>
          </div>
          <div class="col-6 col-sm-8">
            <li class="list-group-item" *ngFor="let level of profile?.nivel_habilidad_funcional">{{level}}</li>
          </div>
        </div>
      </ul>
      <app-button id="edit-func-skills" buttonName="Editar" [buttonIcon]="true" iconName="edit"
        class="col-12 col-sm-2 float-end" (btnClick)="openFuncSkills()">
      </app-button>
    </div>
  </div>

  <div class="card custom-card py-3 my-3">
    <div class="card-body">
      <h5 class="card-title fs-3 mb-3" style="color: var(--tcs-pink);">Aplicaciones</h5>
      <ul class="list-group list-group-flush mb-3">
        <div class="row">
          <div class="col-6 col-sm-4">
            <li class="list-group-item" *ngFor="let skill of profile?.aplicaciones">{{skill}}</li>
          </div>
          <div class="col-6 col-sm-8">
            <li class="list-group-item" *ngFor="let level of profile?.nivel_aplicaciones">{{level}}</li>
          </div>
        </div>
      </ul>
      <app-button id="edit-apps" buttonName="Editar" [buttonIcon]="true" iconName="edit"
        class="col-12 col-sm-2 float-end" (btnClick)="openApps()">
      </app-button>
    </div>
  </div>
</div>