<div class="container">
  <!-- Header -->
  <app-header id="teamsTitle" title="Grupos de trabajo"></app-header>

  <!-- Options -->
  <div class="row mb-2">
    <div class="col-12 col-sm-3 mx-auto mb-2">
      <app-button id="addTeam" buttonName="Añadir grupo de trabajo" iconName="add_circle" [buttonIcon]="true"
        (btnClick)="openCreateModal()">
      </app-button>
    </div>
  </div>

  <!-- Table -->
  <app-table-equipos (changeStatusEvent)="changeStatus($event)" (updateEvent)="updateTeam($event)"
    [tableHeader]="tableHeader" [tableBody]="teams">
  </app-table-equipos>
</div>
