<h1 mat-dialog-title>Nuevo activo</h1>
<div mat-dialog-content>
  <form [formGroup]="nuevoActivoForm" autocomplete="off">

    <div class="row">
      <!--Type field -->
      <div class="col-12 col-sm-6 form-floating mb-3">
        <select id="floatingType" class="form-select rounded-pill" formControlName="tipo">
          <option [value]="tipo.nombre" *ngFor="let tipo of tipos">{{tipo.nombre}}</option>
        </select>
        <label for="floatingType">Tipo</label>
      </div>
      <!-- Area field -->
      <div class="col-12 col-sm-6 form-floating mb-3">
        <select id="floatingArea" class="form-select rounded-pill" formControlName="area">
          <option [value]="area.nombre" *ngFor="let area of areas">{{area.nombre}}</option>
        </select>
        <label for="floatingArea">Área</label>
      </div>
    </div>

    <div class="row">
      <!-- Building field-->
      <div class="col-12 col-sm-6 form-floating mb-3">
        <select id="floatingBuilding" class="form-select rounded-pill" formControlName="edificio">
          <option [value]="edificio.nombre" *ngFor="let edificio of buildings">{{edificio.nombre}}</option>
        </select>
        <label for="floatingBuilding">Edificio</label>
      </div>
      <!-- Floor field -->
      <div class="col-12 col-sm-6 form-floating mb-3">
        <select class="form-select rounded-pill" formControlName="piso">
          <option id="floatingFloor" [value]="piso" *ngFor="let piso of pisos">{{piso}}</option>
        </select>
        <label for="floatingFloor">Piso</label>
      </div>
    </div>

    <div class="row">
      <!-- Brand field-->
      <div class="col-12 col-sm-6 form-floating mb-3">
        <input id="floatingBrand" type="text" class="form-control rounded-pill" formControlName="marca"
          placeholder="marca">
        <label for="floatingBrand">Marca</label>
        <div *ngIf="(getCtrl('marca')?.invalid && getCtrl('marca')?.touched) || getCtrl('marca')?.dirty">
          <span class="form-text text-danger float-start" *ngIf="getCtrl('marca')?.errors?.['required']">
            * Ingrese una marca.
          </span>
        </div>
      </div>
      <!-- Model field -->
      <div class="col-12 col-sm-6 form-floating mb-3">
        <input id="floatingModelo" type="text" class="form-control rounded-pill" formControlName="modelo"
          placeholder="00:00:5E:00:53:AF">
        <label for="floatingModelo">Modelo</label>
        <div *ngIf="(getCtrl('modelo')?.invalid && getCtrl('modelo')?.touched) || getCtrl('modelo')?.dirty">
          <span class="form-text text-danger float-start" *ngIf="getCtrl('modelo')?.errors?.['required']">
            * Ingrese un modelo.
          </span>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- Serie field-->
      <div class="col-12 col-sm-6 form-floating mb-3">
        <input id="floatingSerie" type="text" class="form-control rounded-pill" formControlName="serie"
          placeholder="serie">
        <label for="floatingSerie">Serie</label>
        <div *ngIf="(getCtrl('serie')?.invalid && getCtrl('serie')?.touched) || getCtrl('serie')?.dirty">
          <span class="form-text text-danger float-start" *ngIf="getCtrl('serie')?.errors?.['required']">
            * Ingrese un número de serie.
          </span>
        </div>
      </div>
      <!-- Barcode field -->
      <div class="col-12 col-sm-6 form-floating mb-3">
        <input id="floatingBarcode" type="text" class="form-control rounded-pill" formControlName="codigo_barras"
          placeholder="00:00:5E:00:53:AF">
        <label for="floatingBarcode">Código de barras</label>
        <div
          *ngIf="(getCtrl('codigo_barras')?.invalid && getCtrl('codigo_barras')?.touched) || getCtrl('codigo_barras')?.dirty">
          <span class="form-text text-danger float-start" *ngIf="getCtrl('codigo_barras')?.errors?.['required']">
            * Ingrese un código de barras.
          </span>
        </div>
      </div>
    </div>

    <div *ngIf="getCtrl('tipo')?.value === 'CPU/Portatil'">
      <div class="row">
        <!-- Hostname field-->
        <div class="col-12 col-sm-6 form-floating mb-3">
          <input id="floatingHostname" type="text" class="form-control rounded-pill" formControlName="hostname"
            placeholder="hostname">
          <label for="floatingHostname">Hostname</label>
          <div *ngIf="(getCtrl('hostname')?.invalid && getCtrl('hostname')?.touched) || getCtrl('hostname')?.dirty">
            <span class="form-text text-danger float-start" *ngIf="getCtrl('hostname')?.errors?.['required']">
              * Ingrese un nombre de host.
            </span>
          </div>
        </div>
        <!-- MAC address field -->
        <div class="col-12 col-sm-6 form-floating mb-3">
          <input id="floatingMAC" type="text" class="form-control rounded-pill" formControlName="direccion_mac"
            placeholder="00:00:5E:00:53:AF">
          <label for="floatingMAC">Dirección MAC</label>
          <div
            *ngIf="(getCtrl('direccion_mac')?.invalid && getCtrl('direccion_mac')?.touched) || getCtrl('direccion_mac')?.dirty">
            <span class="form-text text-danger float-start" *ngIf="getCtrl('direccion_mac')?.errors?.['required']">
              * Ingrese una dirección MAC.
            </span>
            <span class="form-text text-danger float-start" *ngIf="getCtrl('direccion_mac')?.errors?.['pattern']">
              * Ingrese una dirección MAC válida.
            </span>
          </div>
        </div>
      </div>

      <div class="row">
        <!-- IP address field -->
        <div class="col-12 col-sm-6 form-floating mb-3">
          <input id="floatingIP" type="text" class="form-control rounded-pill" formControlName="direccion_ip"
            placeholder="192.168.1.2">
          <label for="floatingIP">Dirección IP</label>
          <div
            *ngIf="(getCtrl('direccion_ip')?.invalid && getCtrl('direccion_ip')?.touched) || getCtrl('direccion_ip')?.dirty">
            <span class="form-text text-danger float-start" *ngIf="getCtrl('direccion_ip')?.errors?.['required']">
              * Ingrese una dirección IP.
            </span>
            <span class="form-text text-danger float-start" *ngIf="getCtrl('direccion_ip')?.errors?.['pattern']">
              * Ingrese una dirección IP válida.
            </span>
          </div>
        </div>
        <!-- Reserved IP field -->
        <div class="col-12 col-sm-6 form-floating mb-3">
          <select id="floatingReservedIP" class="form-select rounded-pill" formControlName="reservada_ip">
            <option [value]="true">Sí</option>
            <option [value]="false">No</option>
          </select>
          <label for="floatingReservedIP">Dirección IP reservada</label>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- Date field -->
      <div class="col-12 col-sm-6 form-floating">
        <input id="floatingDate" type="date" class="form-control rounded-pill" formControlName="fecha_entrega">
        <label for="floatingDate">Fecha de adjudicación</label>
        <div
          *ngIf="(getCtrl('fecha_entrega')?.invalid && getCtrl('fecha_entrega')?.touched) || getCtrl('fecha_entrega')?.dirty">
          <span class="form-text text-danger float-start" *ngIf="getCtrl('fecha_entrega')?.errors?.['required']">
            * Seleccione una fecha válida.
          </span>
        </div>
      </div>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-stroked-button (click)="close()">Cancelar</button>
  <button mat-stroked-button (click)="saveAsset()">Registrar activo</button>
</div>