<div class="row">
  <div class="col col-sm-3 px-4">
    <app-card></app-card>
  </div>
  <div class="col col-sm-3 px-4">
    <app-card></app-card>
  </div>
  <div class="col col-sm-3 px-4">
    <app-card></app-card>
  </div>
  <div class="col col-sm-3 px-4">
    <app-card></app-card>
  </div>
</div>

<div class="row">
  <div class="col col-sm-3 px-4">
    <app-card></app-card>
  </div>
  <div class="col col-sm-3 px-4">
    <app-card></app-card>
  </div>
  <div class="col col-sm-3 px-4">
    <app-card></app-card>
  </div>
  <div class="col col-sm-3 px-4">
    <app-card></app-card>
  </div>
</div>

