<button type="button" class="btn rounded-pill w-50 row custom-btn" data-bs-toggle="modal"
  data-bs-target="#exampleModal">
  <span class="d-flex justify-content-center" style="column-gap: 10%;">
    <mat-icon>{{iconName}}</mat-icon>
    {{buttonName}}
  </span>
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fs-2 text-center" id="exampleModalLabel">Nuevo activo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="nuevoActivoForm">
          <div class="row">
            <div class="col mb-3">
              <select class="form-select rounded-pill" formControlName="area">
                <option selected value="">Área</option>
                <option [value]="area" *ngFor="let area of areas">{{area}}</option>
              </select>
            </div>
            <div class="col mb-3">
              <select class="form-select rounded-pill" formControlName="tipo">
                <option selected value="">Tipo</option>
                <option [value]="tipo" *ngFor="let tipo of tipos">{{tipo}}</option>
              </select>
            </div>
          </div>

          <div class="row">
            <div class="col mb-3">
              <select class="form-select rounded-pill" formControlName="edificio">
                <option selected value="">Edificio</option>
                <option [value]="edificio" *ngFor="let edificio of edificios">{{edificio}}</option>
              </select>
            </div>
            <div class="col mb-3">
              <select class="form-select rounded-pill" formControlName="piso">
                <option selected value="">Piso</option>
                <option [value]="piso" *ngFor="let piso of pisos">{{piso}}</option>
              </select>
            </div>
          </div>
          <div *ngIf="nuevoActivoForm.get('tipo')?.value ==='Computador'">
            <div class="row">
              <div class="col mb-3">
                <input type="text" class="form-control rounded-pill" placeholder="Usuario de red"
                  formControlName="usuario_red">
              </div>
              <div class="col mb-3">
                <input type="text" class="form-control rounded-pill" placeholder="Hostname" formControlName="hostname">
              </div>
            </div>
            <div class="row">
              <div class="col mb-3">
                <input type="text" class="form-control rounded-pill" placeholder="Dirección MAC"
                  formControlName="direccion_mac">
              </div>
              <div class="col mb-3">
                <input type="text" class="form-control rounded-pill" placeholder="Dirección IP"
                  formControlName="direccion_ip">
              </div>
            </div>
            <div class="row">
              <div class="col mb-3">
                <select class="form-select rounded-pill" placeholder="IP reservada" formControlName="reservada_ip">
                  <option value="" selected>IP reservada</option>
                  <option [value]="true">Sí</option>
                  <option [value]="false">No</option>
                </select>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn custom-btn rounded-pill" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn custom-btn rounded-pill" (click)="guardarActivos()">Guardar</button>
      </div>
    </div>
  </div>
</div>