<div class="card shadow p-3 mb-5 overflow-auto" style="border-radius: 2rem; max-height: 60%;">
  <div class="card-body px-3 text-center table-responsive">
    <button (click)="exportTable()">Generar Reporte</button>
    <br><br>
    <table id="tableAsignacion" class="table table-hover align-middle ">
      <thead class="bg-light">
        <tr>
          <th *ngFor="let key of tableHeader">{{key}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let asignacion of tableData">
          <td>
            <button mat-icon-button data-bs-toggle="modal" data-bs-target="#updateItem">
              <mat-icon [ngStyle]="{'color':'#9B11BF99'}">edit</mat-icon>
            </button>
            <button mat-icon-button>
              <mat-icon [ngStyle]="{'color':'#F7071299'}">delete</mat-icon>
            </button>
          </td>
          <td>{{asignacion.id_asignacion}}</td>
          <td>{{asignacion.proyecto}}</td>
          <td>{{asignacion.descripcion}}</td>
          <td>{{asignacion.fecha_inicio}}</td>
          <td>{{asignacion.fecha_fin}}</td>
          <td>{{asignacion.asignacion}}</td>
       
        </tr>
        
      </tbody>
    </table>

    

  </div>
</div>

