<!-- <div class="card shadow p-3 mb-5 overflow-auto" style="border-radius: 2rem; max-height: 60%;">
  <div class="card-body px-3 text-center table-responsive">

    <div class="modal fade" id="addItem" tabindex="-1">
      <app-new-project></app-new-project>
    </div>

    <table id="tableAsignacion" class="table table-hover align-middle ">
      <thead class="bg-light">
        <tr>
          <th *ngFor="let key of tableHeader">{{key}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let asignacion of tableData">
          <td>
            <button mat-icon-button data-bs-toggle="modal" data-bs-placement="right" title="Editar proyecto"
              (click)="editItem(asignacion)" disabled style="cursor: pointer;">
              <mat-icon [ngStyle]="{'color':'#9B11BF99'}">edit</mat-icon>
            </button>
            <button mat-icon-button (click)="deleteItem(asignacion.id_asg!)" data-bs-toggle="tooltip"
              data-bs-placement="right" title="Eliminar asignacion"
              style="cursor: pointer;">
              <mat-icon [ngStyle]="{'color':'#F7071299'}">delete</mat-icon>
            </button>
          </td>
          <td>{{asignacion.id_asg}}</td>
          <td>{{asignacion.nombre_proyecto}}</td>
          <td>{{asignacion.descripcion}}</td>
          <td>{{asignacion.fecha_inicio}}</td>
          <td>{{asignacion.fecha_fin}}</td>
          <td>{{asignacion.asignacion}}</td>

        </tr>

      </tbody>
    </table>

  </div>
</div> -->