.gradient-custom {
  background: linear-gradient(220deg, #A3586DB3 0%, #F3B05ACC 100%);
}

.card {
  width: 800px;
  height: 600px;
  border-radius: 70px;
  box-shadow: 0px 10px 40px #00000099;
}

.custom_btn {
  background-color: var(--primary);
  color: white;
  border-radius: 53px;
  width: 400px;
  height: 60px;
}

.custom_btn:hover {
  background-color: var(--secondary);
  color: white;
}

.custom_btn:focus,
.custom_btn:active {
  box-shadow: none;
}

svg {
  fill: #ffffff;
}

.custom-link {
  color: black;
}

/* Fonts */
@font-face {
  font-family:'Nexa_Bold';
  src: url("../../fonts/NexaTextDemo-Bold.ttf");
}
@font-face {
  font-family: 'Nexa_Light';
  src: url("../../fonts/Nexa-Trial-Light.ttf");
}
@font-face {
  font-family: 'Nexa_ExtraBold';
  src: url("../../fonts/NexaText-Trial-ExtraBold.ttf");
}
@font-face {
  font-family: 'SagoeUI';
  src: url("../../fonts/segoe-ui.ttf");
}