<h1 mat-dialog-title>Nuevo grupo de trabajo</h1>
<div mat-dialog-content>
  <form [formGroup]="nuevoEquipoForm" autocomplete="off">
    <div class="row">
      <!-- Team Name -->
      <div class="col-12 col-sm-6 mb-3 form-floating">
        <input type="text" id="floatingTeamName" class="form-control rounded-pill" placeholder="Nombre del grupo de trabajo"
          formControlName="nombre_equipo_asi">
        <label for="floatingTeamName">Nombre de grupo de trabajo</label>
        <div
          *ngIf="(getCtrl('nombre_equipo_asi')?.invalid && getCtrl('nombre_equipo_asi')?.touched) || getCtrl('nombre_equipo_asi')?.dirty">
          <span class="form-text text-danger float-start" *ngIf="getCtrl('nombre_equipo_asi')?.errors?.['required']">
            Ingresa un nombre de grupo de trabajo.
          </span>
        </div>
      </div>

      <!-- Type field -->
      <div class="col-12 col-sm-6 mb-3 form-floating">
        <select id="floatingTeamType" class="form-select rounded-pill" formControlName="tipo_equipo_asi">
          <option [value]="tipo" *ngFor="let tipo of tipos">{{tipo}}</option>
        </select>
        <label for="floatingTeamType">Tipo</label>
        <div
          *ngIf="(getCtrl('tipo_equipo_asi')?.invalid && getCtrl('tipo_equipo_asi')?.touched) || getCtrl('tipo_equipo_asi')?.dirty">
          <span class="form-text text-danger float-start" *ngIf="getCtrl('tipo_equipo_asi')?.errors?.['required']">
            Selecciona una opción válida.
          </span>
        </div>
      </div>
    </div>

    <div class="row">
      <!-- Team leader field -->
      <div class="col-12 col-sm-6 mb-3 form-floating">
        <input id="floatingTeamLeader" type="text" class="form-control rounded-pill" placeholder="Líder de equipo"
          formControlName="nombre_lider">
        <label for="floatingTeamLeader">Nombre de lider de grupo</label>
        <div
          *ngIf="(getCtrl('nombre_lider')?.invalid && getCtrl('nombre_lider')?.touched) || getCtrl('nombre_lider')?.dirty">
          <span class="form-text text-danger float-start" *ngIf="getCtrl('nombre_lider')?.errors?.['required']">
            Ingresa un nombre de lider de grupo.
          </span>
        </div>
      </div>

      <!-- Leader Tecnico field -->
      <div class="col-12 col-sm-6 mb-3 form-floating">
        <input type="text" id="floatingTeamTech" class="form-control rounded-pill" placeholder="Líder técnico"
          formControlName="nombre_tecnico">
        <label for="floatingTeamTech">Nombre de lider técnico</label>
        <div
          *ngIf="(getCtrl('nombre_tecnico')?.invalid && getCtrl('nombre_tecnico')?.touched) || getCtrl('nombre_tecnico')?.dirty">
          <span class="form-text text-danger float-start" *ngIf="getCtrl('nombre_tecnico')?.errors?.['required']">
            Ingresa un nombre de lider técnico.
          </span>
        </div>
      </div>
    </div>

    <div class="col-12 form-floating mb-2">
      <!-- Descripcion field -->
      <textarea id="floatingTeamDesc" class="form-control" placeholder="Descripción del equipo"
        formControlName="descripcion_asi" style="border-radius: 2rem;" maxlength="200" (keyup)="onKey($event)"></textarea>
      <label for="floatingTeamDesc">Descripción del grupo de trabajo</label>
      <span class="float-end">{{count + "/ 200"}}</span>
      <div
        *ngIf="(getCtrl('descripcion_asi')?.invalid && getCtrl('descripcion_asi')?.touched) || getCtrl('descripcion_asi')?.dirty">
        <span class="form-text text-danger float-start" *ngIf="getCtrl('descripcion_asi')?.errors?.['required']">
          Ingresa una descripción del grupo de trabajo.
        </span>
      </div>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button id="btsCancel" mat-raised-button (click)="exit()">Cerrar</button>
  <button id="btnSave" mat-raised-button (click)="save()">Guardar</button>
</div>
