<app-header title="FORMULARIOS DINÁMICOS"></app-header>

<app-search></app-search>

<span class="fs-4" style="color: #F3B05A;">Plantillas</span>
<hr style="color: #F3B05A;">

<!-- Plantillas -->
<div class="row">
  <div class="col p-2">
    <app-new-template></app-new-template>
  </div>
</div>

<span class="fs-4" style="color: #F3B05A;">Formularios</span>
<hr style="color: #F3B05A;">

<!-- Formularios -->
<div class="row">
  <div class="col p-2">
    <app-new-form></app-new-form>
  </div>
</div>