<div class="container">
  <app-header title="FORMULARIOS DINÁMICOS"></app-header>

  <app-search></app-search>

  <div class="row align-items-center">
    <div class="col d-flex justify-content-between align-items-center">
      <span class="fs-4" style="color: #F3B05A;">Plantillas</span>
      <button class="btn" (click)="toNewTemplate()">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>

  <hr style="color: #F3B05A;">

  <!-- Plantillas -->
  <div class="row">
    <div class="col p-2">
      <app-new-template></app-new-template>
    </div>
  </div>

  <div class="row align-items-center">
    <div class="col d-flex justify-content-between align-items-center">
      <span class="fs-4" style="color: #F3B05A;">Formularios</span>
      <button class="btn">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>

  <hr style="color: #F3B05A;">

  <!-- Formularios -->
  <div class="row">
    <div class="col p-2">
      <app-new-template></app-new-template>
    </div>
  </div>
</div>