<div class="container" style="background-color: white;">
  <div class="p-3 text-center">
    <h1 style="color: #F3B05A; text-transform: uppercase;">Nueva plantilla</h1>
  </div>

  <div class="card text-bg-light mb-3 mx-auto" style="border-radius: 1rem;">
    <div class="card-body">
      <div class="mb-3">
        <input type="text" class="form-control" placeholder="Título del formulario" value="Formulario sin título">
      </div>
      <textarea class="form-control" placeholder="Descripción del formulario" style="height: 2rem;"></textarea>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-sm-6 col-md-5 col-lg-4 col-xl-3 mb-3">
      <app-button buttonName="Agregar nuevo" iconName="add_circle_outline" [buttonIcon]="true"></app-button>
    </div>
  </div>

  <!-- Questions -->
  <div class="card text-bg-light mb-3" style="border-radius: 1rem;">

    <div class="card-header">
      <mat-icon class="float-end" style="color: red;">delete</mat-icon>
    </div>

    <div class="card-body">

      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">1.</span>
        <input type="text" class="form-control" placeholder="Escriba el título de la pregunta aquí." value="Pregunta">
      </div>

      <div class="ms-3 ps-4">
        <div class="form-check mb-1">
          <div *ngIf="!multipleAnswers; else checkBlock">
            <input class="form-check-input" type="radio" name="radioNoLabel" id="radioNoLabel1" value="">
          </div>
          <ng-template #checkBlock>
            <input class="form-check-input" type="checkbox" value="" id="flexCheckIndeterminate">
          </ng-template>
          <div class="input-group mb-3">
            <textarea class="form-control" placeholder="Escriba el nombre de la opción." id="floatingTextarea2"
              style="height: 2rem"></textarea>
            <span class="input-group-text" id="basic-addon2">
              <mat-icon style="color: red;">delete</mat-icon>
            </span>
          </div>
        </div>
      </div>
      <div class="row mt-3 mx-4">
        <div class="col-12 col-sm-3">
          <app-button buttonName="Agregar opción" [buttonIcon]="true" iconName="add"></app-button>
        </div>
        <div class="col-12 col-sm-3">
          <app-button buttonName="Agregar la opción 'Otras'"></app-button>
        </div>
      </div>
    </div>

    <div class="card-footer">
      <div class="row justify-content-end">
        <div class="col-2 form-check form-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="variasRespuestas"
            [checked]="multipleAnswers" (change)="multipleAnswers = !multipleAnswers">
          <label class="form-check-label" for="variasRespuestas">Varias respuestas</label>
        </div>
        <div class="col-2 form-check form-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="requiredQuestions">
          <label class="form-check-label" for="requiredQuestions">Obligatoria</label>
        </div>
      </div>
    </div>
  </div>

  <div class="card text-bg-light mb-3" style="border-radius: 1rem;">
    <div class="card-header">
      <mat-icon class="float-end" style="color: red;">delete</mat-icon>
    </div>
    <div class="card-body">
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">4.</span>
        <input type="text" class="form-control" placeholder="Escriba el título de la pregunta aquí." value="Pregunta">
      </div>
      <div *ngIf="!textArea; else textAreaBlock">
        <div class="ms-3 ps-4">
          <input type="text" class="form-control" placeholder="Escriba su respuesta">
        </div>
      </div>
      <ng-template #textAreaBlock>
        <div class="ms-3 ps-4">
          <textarea class="form-control" placeholder="Escriba su respuesta"></textarea>
        </div>
      </ng-template>
    </div>
    <div class="card-footer">
      <div class="row justify-content-end">
        <div class="col-2 form-check form-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" [checked]="textArea"
            (change)="textArea = !textArea">
          <label class="form-check-label" for="flexSwitchCheckDefault">Respuesta larga</label>
        </div>
        <div class="col-2 form-check form-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
          <label class="form-check-label" for="flexSwitchCheckDefault">Obligatoria</label>
        </div>
      </div>
    </div>
  </div>

  <div class="card text-bg-light mb-3" style="border-radius: 1rem;">
    <div class="card-header">
      <mat-icon class="float-end" style="color: red;">delete</mat-icon>
    </div>

    <div class="card-body">
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">3.</span>
        <input type="text" class="form-control" placeholder="Escriba el título de la pregunta aquí." value="Pregunta">
      </div>

      <div class="row mb-3">
        <app-star-rating [rating]="rating" [starCount]="starCount" [color]="starColor"
          (ratingUpdated)="onRatingChanged($event)"></app-star-rating>
      </div>

      <div class="row">
        <div class="col-1">
          <span class="form-label">Niveles:</span>
        </div>
        <div class="col-3">
          <select class="form-select" [(ngModel)]="starCount">
            <option selected>Seleccione un nivel</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
          </select>
        </div>
      </div>
    </div>

    <div class="card-footer">
      <div class="row justify-content-end">
        <div class="col-2 form-check form-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
          <label class="form-check-label" for="flexSwitchCheckDefault">Obligatoria</label>
        </div>
      </div>
    </div>
  </div>

  <div class="card text-bg-light mb-3" style="border-radius: 1rem;">
    <div class="card-header">
      <mat-icon class="float-end" style="color: red;">delete</mat-icon>
    </div>
    <div class="card-body">
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">4.</span>
        <input type="text" class="form-control" placeholder="Escriba el título de la pregunta aquí." value="Pregunta">
      </div>

      <input type="date" class="form-control">
    </div>
    <div class="card-footer">
      <div class="row justify-content-end">
        <div class="col-2 form-check form-switch">
          <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
          <label class="form-check-label" for="flexSwitchCheckDefault">Obligatoria</label>
        </div>
      </div>
    </div>
  </div>

  <div class="row justify-content-around mt-5">
    <div class="col-12 col-sm-3">
      <app-button buttonName="Regresar" (btnClick)="toForms()"></app-button>
    </div>
    <div class="col-12 col-sm-3">
      <app-button buttonName="Guardar"></app-button>
    </div>
    <div class="col-12 col-sm-3">
      <app-button buttonName="Publicar"></app-button>
    </div>
  </div>

</div>