<h1 mat-dialog-title>Registrar asignación</h1>
<div mat-dialog-content>
  <form>
    <div class="row">
      <!-- Types -->
      <div class="col-12 col-sm-6 mb-3">
        <select class="form-select">
          <option selected>Tipo</option>
          <option *ngFor="let type of types" [value]="type">{{type}}</option>>
        </select>
      </div>
      <!-- Options -->
      <div class="col-12 col-sm-6 mb-3">
        <input class="form-control" list="projects" placeholder="Buscar" size="5">
        <datalist id="projects">
          <option *ngFor="let project of projects" [value]="project">
        </datalist>
      </div>
    </div>

    <div class="row">
      <!-- Assignment percentage -->
      <div class="col mb-3">
        <select class="form-select">
          <option selected>Porcentaje de asignación</option>
          <option [value]="asignacion" [value]="i * 100" *ngFor="let i of [0.25, 0.5, 0.75, 1]">{{i | percent}}</option>
        <div
        *ngIf="(getCtrl('asignacion')?.invalid && getCtrl('asignacion')?.touched) || getCtrl('asignacion')?.dirty">
          <span class="form-text text-danger float-start"
          *ngIf="getCtrl('asignacion')?.errors?.['required']">
            * Seleccione una opción válida.
          </span>
        </div>
        </select>
      </div>
    </div>

    <div class="row">
      <!-- Start date -->
      <div class="col mb-3">
        <label class="form-label">Fecha de inicio</label>
        <input type="date" class="form-control" formControlName="fecha_inicio">
        <div
          *ngIf="(getCtrl('fecha_inicio')?.invalid && getCtrl('fecha_inicio')?.touched) || getCtrl('fecha_inicio')?.dirty">
          <span class="form-text text-danger float-start" *ngIf="getCtrl('fecha_inicio')?.errors?.['required']">
            * Seleccione una fecha válida.
          </span>
        </div>
    </div>
      <!-- End date -->
      <div class="col mb-3">
        <label class="form-label">Fecha de finalización</label>
        <input type="date" class="form-control" formControlName="fecha_fin">
        <div
        *ngIf="(getCtrl('fecha_fin')?.invalid && getCtrl('fecha_fin')?.touched) || getCtrl('fecha_fin')?.dirty">
        <span class="form-text text-danger float-start" *ngIf="getCtrl('fecha_fin')?.errors?.['required']">
          * Seleccione una fecha válida.
        </span>
      </div>
      </div>
    </div>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-button (click)="close()">Registrar asignación</button>
</div>