<div class="container">
  <!-- Header -->
  <app-header title="Registro de activos"></app-header>

  <!-- Options -->
  <div class="row mb-2">
    <div class="col-12 col-sm-3 mx-auto mb-2">
      <app-button buttonName="Registrar activo" iconName="add_circle" [buttonIcon]="true" (btnClick)="openNewAsset()">
      </app-button>
    </div>
    
  </div>

  <!-- Table -->
  <p-table (indexToDelete)="deleteItem($event)" (deliverEvent)="openDeliverItem($event)" [tableData]="assets"
    [tableHeader]="titles" [rol]="profile?.rol!"></p-table>
</div>