<!-- Header -->
<app-header title="Registro de activos"></app-header>

<!-- Add new item -->
<div class="row">
  <div class="col-12 col-sm-6 mb-3 d-flex justify-content-center">
    <button type="button" class="btn custom-btn rounded-pill w-75" data-bs-toggle="modal" data-bs-target="#addItem">
      <span class="d-flex justify-content-center" style="column-gap: 10%;">
        <mat-icon>add_circle</mat-icon> Añadir activo
      </span>
    </button>
  </div>

  <div class="col-12 col-sm-6 mb-3 d-flex justify-content-center">
    <button type="button" class="btn custom-btn rounded-pill w-75" (click)="exportTable()">
      <span class="d-flex justify-content-center" style="column-gap: 10%;">
        <mat-icon>save_alt</mat-icon> Generar Reporte
      </span>
    </button>

  </div>

  <!-- Modal -->
  <div class="modal fade" id="addItem" tabindex="-1">
    <app-new-asset></app-new-asset>
  </div>

  <!-- Table -->
  <p-table (indexToDelete)="deleteItem($event)"></p-table>