<!-- Header -->
<app-header title="Registro de activos"></app-header>

<!-- Add new item -->
<div class="row">
  <div class="col col-sm-4 mx-auto mb-3">
    <button type="button" class="btn rounded-pill w-100 custom-btn" data-bs-toggle="modal" data-bs-target="#addItem">
      <span class="d-flex justify-content-center" style="column-gap: 10%;">
        <mat-icon>add_circle</mat-icon>
        Añadir activo
      </span>
    </button>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="addItem" tabindex="-1">
  <app-new-asset></app-new-asset>
</div>

<!-- Table -->
<p-table (indexToDelete)="deleteItem($event)"></p-table>