<h1 mat-dialog-title>Editar mis habilidades</h1>
<div mat-dialog-content>
  <form [formGroup]="skillsForm">
    <!-- Add new skill -->
    <div class="row mb-3">
      <label class="col-sm-3 col-form-label">Habilidades:</label>
      <div class="col-sm-9">
        <div class="input-group">
          <select class=" form-select" id="skills" formControlName="skills">
            <option value="">Seleccione una habilidad</option>
            <option [ngValue]="skill" *ngFor="let skill of skillsList">{{skill}}</option>
          </select>
        </div>
        <div *ngIf="skill?.invalid && skill?.touched">
          <span class="form-text text-danger float-start" *ngIf="skill?.invalid">
            Selecciona una habilidad.
          </span>
        </div>
      </div>
    </div>

    <!-- Add knowledge level -->
    <div class="row mb-3">
      <label class="col-sm-3 col-form-label">Nivel:</label>
      <div class="col-sm-9">
        <div class="input-group">
          <select class=" form-select" id="levels" formControlName="levels" required>
            <option value="">Seleccione el nivel de conocimiento </option>
            <option [ngValue]="level" *ngFor="let level of knowledgeLevelList">{{level}}</option>
          </select>
        </div>
        <div *ngIf="level?.invalid && level?.touched">
          <span class="form-text text-danger float-start" *ngIf="level?.invalid">
            Selecciona un nivel de conocimiento.
          </span>
        </div>
      </div>
    </div>

    <div class="row mb-3">
      <app-button buttonName="Añadir" [buttonIcon]="true" iconName="add_circle" (btnClick)="addSkill()">
      </app-button>
    </div>

    <!-- My skills list -->
    <div class="row mb-3 text-center">
      <label class="text-uppercase fw-bold">Mis habilidades</label>
    </div>

    <div class="row">
      <div class="col-6">
        <label class="col-sm-5 col-form-label">Habilidades:</label>
      </div>
      <div class="col-6">
        <label class="col-sm-5 col-form-label">Nivel:</label>
      </div>
    </div>

    <div class="row mb-3">
      <div class="col-6">
        <div class="input-group mb-1" *ngFor="let mySkill of tempSkillsList; let i = index">
          <span class="input-group-text" id="addon-wrapping">{{i + 1}}</span>
          <input type="text" class="form-control" disabled [value]="mySkill">
        </div>
      </div>

      <div class="col-6">
        <div class="input-group mb-1" *ngFor="let myLevel of tempKnowledgeLevelList; let i = index">
          <span class="input-group-text" id="addon-wrapping">{{i + 1}}</span>
          <input type="text" class="form-control" disabled [value]="myLevel">
          <button type="button" class="btn btn-outline-danger" (click)="deleteSkill(i)">Eliminar</button>
        </div>
      </div>
    </div>
  </form>

  <span *ngIf="!savedSkills" class="form-text text-danger float-end">
    * Cambios sin guardar
  </span>
</div>
<div mat-dialog-actions>
  <button mat-stroked-button (click)="exit()">Cancelar</button>
  <button mat-stroked-button (click)="updateSkills()">Guardar cambios</button>
</div>