<div class="card shadow p-3 mb-5 overflow-auto" style="border-radius: 2rem; max-height: 70vh;">
  <div class="card-body px-3 text-center table-responsive">

    <table id="tableEquipos" class="table table-hover align-middle">
      <caption>Tabla de grupos de trabajo</caption>
      <thead class="bg-light">
      <tr>
        <th *ngFor="let key of tableHeader">{{key}}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let equipo of tableBody" [class.table-secondary]="!equipo.estado_asi">
        <td>
          <button mat-icon-button style="cursor: pointer;" (click)="updateTeam(equipo)"
                  [disabled]="equipo.estado_asi === false">
            <mat-icon style="color: var(--tcs-pink);">edit</mat-icon>
          </button>
          <button mat-icon-button (click)="changeStatus(equipo.id_asi!)" style="cursor: pointer;">
            <mat-icon [ngStyle]="{color: equipo.estado_asi ? 'var(--tcs-red)' : 'var(--tcs-green)'}">
              {{equipo.estado_asi ? 'delete' : 'add_box'}}
            </mat-icon>
          </button>
        </td>
        <td>{{equipo.nombre_equipo_asi}}</td>
        <td>{{equipo.tipo_equipo_asi}}</td>
        <td>{{equipo.descripcion_asi}}</td>
        <td>{{equipo.nombre_lider}}</td>
        <td>{{equipo.nombre_tecnico}}</td>
        <td [ngStyle]="{color: equipo.estado_asi ? 'var(--tcs-green)' : 'var(--tcs-red)'}">
          {{equipo.estado_asi ? 'Vigente' : 'No vigente'}}
        </td>
      </tr>
      </tbody>
    </table>

  </div>
</div>
