.gradient-custom {
  background: linear-gradient(220deg, #A3586DB3 0%, #F3B05ACC 100%);
}

.card {
  width: 410px;
  height: 350px;
  border-radius: 10%;
  box-shadow: 0px 10px 40px #00000099;
}

.custom-link {
  text-decoration: underline;
  color: black;
}

.custom-input {
  border: 0;
  background-color: var(--bg_field);
  border-radius: 28px;
}

.custom-input:focus,
.custom-input:active {
  border: 1px solid;
  border-color: var(--secondary);
  box-shadow: 0 0 0 0.1rem var(--secondary);
}

.custom_btn {
  background-color: var(--primary);
  color: white;
  border-radius: 28px;
}

.custom_btn:hover {
  background-color: var(--secondary);
  color: white;
}

.custom_btn:focus,
.custom_btn:active {
  box-shadow: none;
}

::placeholder {
  opacity: 0.9;
}