<section class="vh-100 vw-100 gradient-custom overflow-auto">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card mx-auto">
          <!--<div class="card-body px-5 text-center col d-flex flex-column justify-content-evenly">-->
          <div
            class="card-body px-5 text-center col d-flex flex-column justify-content-evenly"
          >
            <!-- Title -->
            <h1 class="mt-4 mb-4">INICIAR SESIÓN</h1>
            <!-- Ultimatix -->
            <div class="mb-2">
              <input
                type="number"
                class="form-control custom-input"
                placeholder="Ultimatix"
              />
            </div>

            <!-- Password -->
            <div class="mb-4">
              <input
                type="password"
                class="form-control custom-input"
                placeholder="Contraseña"
              />
            </div>

            <!--  Login -->
            <div class="">
              <button type="button" class="btn custom_btn w-50">
                Inicia sesión
              </button>
            </div>

            <!-- Register -->
            <div class="">
              <p>
                ¿No tienes una cuenta?
                <a [routerLink]="['/nuevo-usuario']" class="custom-link"
                  ><strong>Regístrate</strong></a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
