<!-- Title -->
<h1 class="my-4 fs-2">REGISTRO</h1>

<form [formGroup]="registerForm" (ngSubmit)="register()" autocomplete="off">

  <div class="row">
    <!-- Name -->
    <div class="col-12 col-md-6 mb-3">
      <input formControlName="name" type="text" class="form-control rounded-pill border-0 custom-input"
             placeholder="Nombres"/>
      <span class="form-text text-danger float-start" *ngIf="validField('name')">
        Ingresa tus nombres.
      </span>
    </div>

    <!-- Lastame -->
    <div class="col-12 col-md-6 mb-3">
      <input formControlName="lastname" type="text" class="form-control rounded-pill border-0 custom-input"
             placeholder="Apellidos"/>
      <span class="form-text text-danger float-start" *ngIf="validField('lastname')">
        Ingresa tus apellidos.
      </span>
    </div>
  </div>

  <div class="row">
    <!-- Phone -->
    <div class="col-12 col-md-6 mb-3">
      <ngx-intl-tel-input [cssClass]="'custom'" [enableAutoCountrySelect]="true" [enablePlaceholder]="true"
                          [searchCountryFlag]="true" [preferredCountries]="[CountryISO.Ecuador]" [searchCountryField]="[
            SearchCountryField.Iso2,
            SearchCountryField.Name
          ]" searchCountryPlaceholder="Buscar país" customPlaceholder="Teléfono"
                          [selectedCountryISO]="CountryISO.Ecuador" [maxLength]="15" [phoneValidation]="true"
                          [separateDialCode]="true"
                          [numberFormat]="PhoneNumberFormat.National" name="phone" formControlName="phone">
      </ngx-intl-tel-input>
      <span class="form-text text-danger text-start" *ngIf="phone?.invalid && phone?.touched">
        Ingresa un número de teléfono válido.
      </span>
    </div>

    <!-- Email -->
    <div class="col-12 col-md-6 mb-3">
      <input formControlName="email" type="email" class="form-control rounded-pill border-0 custom-input"
             placeholder="Correo electrónico"/>
      <div class="form-text text-danger float-start" *ngIf="(email?.invalid && email?.touched) || email?.dirty">
        <span *ngIf="email?.errors?.['required']">
          Ingresa un correo electrónico.
        </span>
        <span *ngIf="email?.errors?.['pattern']">
          Ingresa una dirección de correo electrónico válida.
        </span>
      </div>
    </div>
  </div>

  <div class="row">
    <!-- Ultimatix -->
    <div class="col-12 col-md-6 mb-3">
      <input formControlName="ultimatix" type="text" class="form-control rounded-pill border-0 custom-input"
             placeholder="Ultimatix"
             onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;"/>
      <div class="form-text text-danger float-start"
           *ngIf="(ultimatix?.invalid && ultimatix?.touched) || ultimatix?.dirty">
        <span *ngIf="ultimatix?.errors?.['required']">
          Ingresa tu número de ultimatix.
        </span>
        <span *ngIf="ultimatix?.errors?.['minlength']">
          Ingresa un número de ultimatix válido.
        </span>
      </div>
    </div>

    <!-- Password -->
    <div class="col-12 col-md-6 mb-4">
      <div class="input-group">
        <input formControlName="password" [type]="showPwd ? 'text' : 'password'" class="form-control pwd-input border-0"
               placeholder="Contraseña"/>
        <div class="input-group-text pwd-eye border-0" (click)="showPwd = !showPwd" (touchstart)="showPwd = !showPwd">
          <mat-icon style="cursor: pointer;">remove_red_eye</mat-icon>
        </div>
      </div>
      <div class="form-text text-danger float-start"
           *ngIf="(password?.invalid && password?.touched) || password?.dirty">
        <span *ngIf="password?.errors?.['required']">
          Ingresa una contraseña.
        </span>
        <span *ngIf="password?.errors?.['pattern']">
          Ingresa una contraseña válida.
          <mat-icon style="cursor: pointer; font-size: 1rem;"
                    matTooltip="La contraseña debe tener al menos ocho caracteres, 1 letra mayúsculas, 1 letra minúscula y 1 caracter especial.">
            report</mat-icon>
        </span>
      </div>
    </div>
  </div>

  <!-- Register -->
  <div class="col-12 col-sm-6 mx-auto mb-4">
    <app-button type="submit" buttonName="Registrar" class="w-100"></app-button>
  </div>

  <!-- Login -->
  <span>
    ¿Ya tienes una cuenta?
    <a [routerLink]="['/auth/login']" class="custom-link"><strong>Inicia sesión</strong></a>
  </span>

</form>
