/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-attachment: fixed;
  position: relative;
  padding-bottom: 50%;
  padding-top: 7%;
  background: linear-gradient(220deg, #a3586db3 0%, #f3b05acc 100%);
} */

.gradient-custom {
  background: linear-gradient(220deg, #A3586DB3 0%, #F3B05ACC 100%);
}

#container_form {
  display: block;
  align-self: center;
  position: relative;
  background-color: rgb(243, 243, 243);
  width: 48%;
  padding-top: 5%;
  margin-top: 7%;
  margin-left: 28%;
  border-radius: 70px;
  min-height: 500px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  box-shadow: 0px 10px 40px #00000099;
}

input {
  outline: none;
  border: 1px solid #ccc;
  transition: 0.2s all ease;
  text-align: center;
  background-color: rgba(233, 231, 231, 0.8);
  border-color: rgba(233, 231, 231, 0.8);
}

input:hover {
  transform: scale(1.1, 1.1);
}

input:focus,
input:active {
  border: 1px solid;
  box-shadow: 0 0 0 0.1rem #f3b05a;
  transform: scale(1.1, 1.1);
  border-color: #f3b05a;
}

#title_new_user h1 {
  text-transform: uppercase;
  margin: auto;
  padding-left: 40%;
  padding-bottom: 4%;
}

div ::placeholder {
  text-align: center;
  font-size: 18px;
}

.input__container {
  padding-left: 6%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 27px;
}

.input__container>input {
  border-radius: 28px;
  border-width: 1px;
  width: 85%;
  height: 160%;
}

.boton_submit {
  width: 25%;
  height: 41px;
  margin-top: 6%;
  margin-left: 35%;
  border-radius: 28px;
  text-align: center;
  color: white !important;
  font-size: 18px;
  font-weight: 500;
  background: #a3586d;
  border-color: #a3586d;
  border: 1px solid;
  transition: all 1s ease;
  position: relative;
}

.boton_submit:hover {
  background: #f3b05a;
  border-color: #f3b05a;
  color: #fff !important;
}

#link_login {
  margin-top: 2%;
  margin-left: 32%;
}

#link_login a {
  color: black;
}