<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Nuevo Usuario</title>
</head>
<body>
        <form id="container">
            <div id="title_new_user"><h1>Registro</h1></div>
         <div class="div1">
            <input id="name" type="text" placeholder="Nombre" >
            <input id="last_name" type="text" placeholder="Apellido">
        </div>
        <div class="div2"> 
            <input id="phone" type="tel" placeholder="Telefono">
            <input id="email" type="email" placeholder="Correo" >
        </div>
        <div class="div3">
            <input id="ultimatix" type="text" placeholder="Ultimatix">
            <input id="password" type="text" placeholder="Contraseña">
        </div>
        <button type="submit" class="boton3">Registrar</button>
        <div id="link_login">Ya tienes una cuenta? <a href="**"><strong>Inicia Sesion</strong></a></div> 
        </form>
</body>
<footer>

</footer>


</html>


