<div class="card shadow p-3 mb-5 overflow-auto" style="border-radius: 2rem; max-height: 60%;">
  <div class="card-body px-3 text-center table-responsive">

    <table class="table table-hover align-middle">
      <caption>Tabla de asignaciones</caption>
      <thead class="bg-light">
        <tr>
          <th *ngFor="let key of titles">{{key}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <button mat-icon-button>
              <mat-icon [ngStyle]="{'color':'#F7071299'}">exit_to_app</mat-icon>
            </button>
          </td>

          <td>Leones</td>
          <td>Proyecto</td>
          <td>{{0.25 | percent}}</td>
          <td>5/18/2022</td>
          <td>7/18/2022</td>
          <td style="color: green;">Vigente</td>
        </tr>

        <tr>
          <td>
            <button mat-icon-button>
              <mat-icon [ngStyle]="{'color':'#F7071299'}">exit_to_app</mat-icon>
            </button>
          </td>

          <td>Lobos</td>
          <td>Célula</td>
          <td>{{0.5 | percent}}</td>
          <td>4/16/2022</td>
          <td>8/12/2022</td>
          <td style="color: red;">No vigente</td>
        </tr>

      </tbody>
    </table>

  </div>
</div>