<div class="card shadow p-3 mb-5 overflow-auto" style="border-radius: 2rem; max-height: 60%;">
  <div class="card-body px-3 text-center table-responsive">

    <table class="table table-hover align-middle">
      <caption>Tabla de asignaciones</caption>
      <thead class="bg-light">
        <tr>
          <th *ngFor="let key of titles">{{ key }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let column of data">
          <td>
            <button mat-icon-button>
              <mat-icon [ngStyle]="{'color':'#F7071299'}">{{iconName}}</mat-icon>
            </button>
          </td>
          <td *ngFor="let key of column | keyvalue">{{key.value | json}}</td>
        </tr>
      </tbody>
    </table>

  </div>
</div>