<div class="dashboard">
  <!-- Sidebar -->
  <nav class="sidebar overflow-auto" [class.active]="collapse">
    <!-- Sidebar header -->
    <ul class="sidebar__list sidebar__list--header">
      <!-- Open -->
      <li>
        <a class="menu" (click)="toggleSidebar()" style="cursor: pointer;">
          <mat-icon>
            reorder
          </mat-icon>
          <span>MENÚ</span>
        </a>
      </li>

      <!-- Profile -->
      <li>
        <a [routerLink]="['/pages/dashboard/profile']">
          <mat-icon>person_outline</mat-icon>
          <span>{{currentUser.id_numero_Ultimatix}}</span>
        </a>
      </li>
    </ul>

    <!-- Items -->
    <ul class="sidebar__list sidebar__items">
      <!-- Assets -->
      <li>
        <a [routerLink]="['/pages/dashboard/assets']">
          <mat-icon>ballot</mat-icon>
          <span>Activos</span>
        </a>
      </li>

      <!-- Teams -->
      <li *ngIf="profile?.rol === 'admin'">
        <a [routerLink]="['/pages/dashboard/teams']">
          <mat-icon>group</mat-icon>
          <span>Grupos de trabajo</span>
        </a>
      </li>

      <!-- Tasks -->
      <li>
        <a [routerLink]="['/pages/dashboard/tasks']">
          <mat-icon>assignment_ind</mat-icon>
          <span>Asignaciones</span>
        </a>
      </li>

      <!-- Reports -->
      <li *ngIf="profile?.rol === 'admin'">
        <a [routerLink]="['/pages/dashboard/reports']">
          <mat-icon>insert_drive_file</mat-icon>
          <span>Reportes</span>
        </a>
      </li>

      <!-- Settings -->
      <li *ngIf="profile?.rol === 'admin'">
        <a [routerLink]="['/pages/dashboard/settings']">
          <mat-icon>settings</mat-icon>
          <span>Configuración</span>
        </a>
      </li>
    </ul>

    <ul class="sidebar__list sidebar__footer">
      <!-- Logout -->
      <li>
        <a (click)="toLogin()" style="cursor: pointer;">
          <mat-icon>exit_to_app</mat-icon>
          <span>Cerrar sesión</span>
        </a>
      </li>
      <li id="copy" style="color: white" class="text-center">
        ©Copyright 2022
      </li>
    </ul>
  </nav>

  <!-- Body  -->
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>