<div class="wrapper d-flex align-items-stretch">
  <!-- Sidebar -->
  <nav id="sidebar" class="overflow-auto" [class.active]="collapse">

    <mat-icon id="sidebar-collapse" class="menu" style="color: white;" (click)="toggleSidebar()">
      reorder
    </mat-icon>

    <!-- Profile -->
    <div class="profile mt-3">
      <mat-icon class="menu" style="color: white;">person_outline</mat-icon>
      <a [routerLink]="['/pages/dashboard/profile']" id="enlace"></a>
      <h3 class="name">{{currentUser.id_numero_Ultimatix}}</h3>
    </div>

    <!-- Items -->
    <ul class="list-unstyled components mb-5">
      <!-- Assets -->
      <li class="active">
        <a [routerLink]="['/pages/dashboard/assets']">
          <span><mat-icon>ballot</mat-icon></span>
          Activos
        </a>
      </li>

      <!-- Teams -->
      <li *ngIf="profile?.rol === 'admin'">
        <a [routerLink]="['/pages/dashboard/teams']">
          <span><mat-icon>group</mat-icon></span>
          Grupos de trabajo
        </a>
      </li>

      <!-- Tasks -->
      <li>
        <a [routerLink]="['/pages/dashboard/tasks']">
          <span><mat-icon>assignment_ind</mat-icon></span>
          Asignaciones
        </a>
      </li>

      <!-- Reports -->
      <li *ngIf="profile?.rol === 'admin'">
        <a [routerLink]="['/pages/dashboard/reports']">
          <span><mat-icon>insert_drive_file</mat-icon></span>
          Reportes
        </a>
      </li>

      <!-- Settings -->
      <li *ngIf="profile?.rol === 'admin'">
        <a [routerLink]="['/pages/dashboard/settings']">
          <span><mat-icon>settings</mat-icon></span>
          Configuración
        </a>
      </li>

      <!-- Logout -->
      <li class="mt-1 pt-4">
        <a (click)="toLogin()" style="cursor: pointer;">
          <span><mat-icon>exit_to_app</mat-icon></span>
          Cerrar sesión
        </a>
      </li>
    </ul>

    <div class="footer">
      <p>©Copyright 2022</p>
    </div>
  </nav>

  <!-- Body  -->
  <div id="content" class="p-2 p-md-5 overflow-auto" style="background-color: #f8f9fa; font-size: 1rem;">
    <router-outlet></router-outlet>
  </div>
</div>
