<div class="card shadow p-3 mb-5 overflow-auto" style="border-radius: 2rem; max-height: 100%;">
  <div class="card-body px-3 text-center table-responsive">
    <table id="tableActivos" class="table table-hover align-middle">
      <thead class="bg-light">
        <tr>
          <th *ngFor="let key of tableHeader">{{key}}</th>
        </tr>
      </thead>
      <tbody *ngFor="let activo of tableData">
        <tr *ngIf="activo.borrado_logico === false" [ngClass]="{'table-success': activo.estado}">
          <td>
            <button mat-icon-button data-bs-toggle="tooltip" data-bs-placement="right" title="Devolver activo"
              data-bs-toggle="modal" data-bs-target="#deliverDate" (click)="currentAsset(activo)">
              <mat-icon [ngStyle]="{'color':'#9B11BF99'}">assignment_return</mat-icon>
            </button>
            <button mat-icon-button (click)="deleteItem(activo.id_activo!)" data-bs-toggle="tooltip"
              data-bs-placement="right" title="Eliminar activo" [disabled]="activo.estado">
              <mat-icon [ngStyle]="{'color':'#F7071299'}">delete</mat-icon>
            </button>
          </td>
          <td>{{activo.id_activo}}</td>
          <td>{{activo.area}}</td>
          <td>{{activo.edificio}}</td>
          <td>{{activo.tipo}}</td>
          <td>{{activo.fecha_entrega}}</td>
          <td>{{activo.fecha_devolucion || '-'}}</td>
          <td [ngStyle]="{color: activo.estado ? 'green' : 'red'}">{{activo.estado ? 'Devuelto': 'No devuelto'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="deliverDate" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Registro de devolución de activo</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="deliverForm">
          <div class="form-floating">
            <input id="floatingDeliverDate" type="date" class="form-control rounded-pill"
              formControlName="fecha_devolucion">
            <label for="floatingDeliverDate">Fecha de devolución</label>
          </div>
        </form>
        <div
          *ngIf="(deliverForm.get('fecha_devolucion')?.invalid && deliverForm.get('fecha_devolucion')?.touched) || deliverForm.get('fecha_devolucion')?.dirty">
          <span class="form-text text-danger float-start"
            *ngIf="deliverForm.get('fecha_devolucion')?.errors?.['required']">
            * Seleccione una fecha válida.
          </span>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn custom-btn rounded-pill" data-bs-dismiss="modal">Cerrar</button>
        <button type="button" class="btn custom-btn rounded-pill" (click)="deliverAsset()">Guardar</button>
      </div>
    </div>
  </div>
</div>