<div class="container">
    <app-header title="Configuración"></app-header>
  
            
        <!-- Role Management -->
        <div class="card custom-card p-3 mb-3">
            <div class="card-body">
              
              <div class="row">
                <h5 class="card-title fs-2">Administrar roles</h5>
              </div>

              <br><br>

              <table id="tableUsers" class="table table-hover align-middle">
                  <caption>Tabla de usuarios</caption>
                  <thead class="bg-light">
                    <tr>
                      <th *ngFor="let key of tableHeader ">{{key}}</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let user of users" >
                      <td>
                        <button mat-icon-button data-bs-placement="right" title="Editar usuario" style="cursor: pointer;"
                          (click)="update(user.id_ultimatix!)">
                          <mat-icon [ngStyle]="{'color':'#9B11BF99'}">edit</mat-icon>
                        </button>
                      </td>
                      <td>{{user.id_ultimatix}}</td>
                      <td>{{user.nombres_completos}}</td>
                      <td [ngStyle]="{color: user.rol == 'user' ? 'green' : 'red'}">{{user.rol}}</td>

                    </tr>

          
                  </tbody>
                </table>

          </div>
        </div>

  </div>